@import 'tailwindcss';

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  button {
    cursor: pointer;
  }
}

@theme {
  /* Brand Colors */
  --color-primary: #8FB339;
  --color-primary-hover: #7AA12E;

  --color-secondary: #E6DCCF;
  --color-secondary-hover: #D6CAB9;

  /* Layout */
  --color-bg: #F7F8F5;
  --color-surface: #FFFFFF;
  --color-border: #E5E7EB;

  /* Text */
  --color-text-primary: #1F2937;
  --color-text-secondary: #4B5563;
  --color-text-muted: #6B7280;
  --color-text-disabled: #9CA3AF;

  /* States */
  --color-success: #4CAF50;
  --color-warning: #E0A800;
  --color-error: #DC2626;
  --color-info: #2563EB;

  /* Fonts */
  --font-sans: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  --font-headline: 'Inter', 'Helvetica Neue', Arial, sans-serif;

  /* Shadow */
  --shadow-custom:
    0 2px 4px rgba(0, 0, 20, 0.08),
    0 1px 2px rgba(0, 0, 20, 0.08);
}

@utility container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  // max-width: 1024px;
  // max-width: 500px;
  padding-inline: --spacing(4);

  @variant lg {
    // max-width: 14px;
  }
}
