@import 'tailwindcss';

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  button {
    cursor: pointer;
  }
}

@theme {
  --color-primary: #262626;
  --color-secondary: #2E2E2E;

  --font-sans: 'Inter', '"Helvetica Neue"', 'Arial', 'sans-serif';
  --font-headline: 'Inter', '"Helvetica Neue"', 'Arial', 'sans-serif';
  --shadow-custom:
    box-shadow: 0 2px 4px rgba(0, 0, 20, 0.08), 0 1px 2px rgba(0, 0, 20, 0.08);
}

@utility container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  // max-width: 1024px;
  // max-width: 500px;
  padding-inline: --spacing(4);

  @variant lg {
    // max-width: 14px;
  }
}
