@import url('@vuepic/vue-datepicker/dist/main.css');

@import url('_tailwind.scss');
@import url('_fonts.scss');
@import url('components/_form.scss');

html, body{
  scroll-behavior: smooth;
}

.app-container{
  @apply bg-neutral-900 text-neutral-100;
}

/* Hide by default */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* Show when hovering or scrolling */
*:hover::-webkit-scrollbar,
*:active::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* Scrollbar track */
*:hover::-webkit-scrollbar-track {
    background: transparent;
}

/* Scrollbar thumb */
*:hover::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 6px;
}

/* Thumb hover effect */
*:hover::-webkit-scrollbar-thumb:hover {
    background-color: #666;
}

@media (max-width: 768px) { 
  .c-scrollbar::-webkit-scrollbar{
    width: 0px;
  }
}

/* Chrome, Safari, Edge, Opera */
input.no-arrows::-webkit-outer-spin-button,
input.no-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number].no-arrows {
  -moz-appearance: textfield;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.c-transition{
  @apply transition-all duration-200 ease-in-out;
}