@import url('./tailwind.css');
@import url('./fonts.css');

html, body{
  scroll-behavior: smooth;
}

*::-webkit-scrollbar{
  width: 4px;
}
*::-webkit-scrollbar-thumb{
  background-color: #8E934E;
  border: 2px solid #8E934E;
  border-radius: 4px;
  /* border: 1px solid #f0f0f0; */
}
*::-webkit-scrollbar-track{
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  /* background-color: #f0f0f0; */
  background-color: transparent;
}

@media (max-width: 768px) { 
  .c-scrollbar::-webkit-scrollbar{
    width: 0px;
  }
}

/* Chrome, Safari, Edge, Opera */
input.no-arrows::-webkit-outer-spin-button,
input.no-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number].no-arrows {
  -moz-appearance: textfield;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.c-transition{
  @apply transition-all duration-200 ease-in-out;
}